<h1 class="float-start"> Rails blog</h1>

<ul class="float-end list-unstyled list-inline">
    <li class="list-inline-item"><%= link_to "Home", root_path %></li>
    <li class="list-inline-item"><%= link_to "About", about_path %></li>
    <li class="list-inline-item"><%= link_to "Blog", blog_path %></li>
    <li class="list-inline-item"><%= link_to "Contact", contact_path %></li>
</ul>